.aboutMeContainer{
  display: flex;
  justify-content: center;
  margin-top:80px;
}
.aboutMe, .socialNetwork{
    font-size: 30px;
  }

.aboutMe{
  margin-right:10px;
}

.fa-github, .fa-linkedin{
  color:black;
}

.aboutC{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 950px;
    margin-right:10px;
}

@media only screen and (min-width: 1280px) {
  .aboutC{
    min-width: 1180px;
  }
  
}

@media only screen and (min-width: 1562) {
  .aboutC{
    min-height: 1500px;
    min-width: 1800px;
  }
  
}

@media only screen and (min-width: 1920px) {
  .aboutC{
    min-width: 1820px;
    
  }
  
}