.reviewContainer{
    max-width: 950px;
    display: flex;
    flex-direction: column;
}

#reviewsForSpot {
    display: grid;
    grid-template-columns: minmax(max-content, min-content) auto;
    gap: 5px;
 
    justify-items: start;
    align-content: space-evenly;
    width: 100%;
    margin: 0 50px 50px 0;
}

#reviewContent{
    width:100%;
}
.deleteBt {
    color: var(--button-color);
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid var(--grey-light-color);
    cursor: pointer;
}

.singleReview,
.reviewStar {
    font-size: 15px;
    max-width: 475px;
    word-wrap: break-word;
}

#reviewIcon {
    margin-bottom: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}
/* #reviewModalClick{
height:40px;
width: 180px;
display: flex;

} */
.reviewDate {
    font-size: var(--font-medium);
    color: rgb(113, 114, 115);

}

.reviewUserId {
    font-size: 17px;
    font-weight: bold;
    
}


#numbers{
    font-size: var(--font-medium)
}

.fa-sharp{
    font-size: 12px;
    margin-bottom: 30px;
}

.fa-pen-to-square{
    border: none;
}
.reviewbt{
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.clickReviewBt{
    border: none;
    background-color: white;
    font-size: 22px;
    cursor: pointer;
}

#reviewer{
    margin-bottom: 10px;
}

.singleReviewContainer{
    margin-bottom:15px;
}