#reviews {
    display: grid;
    grid-template-columns: minmax(max-content, min-content) auto;
    gap: 5px;
 
    justify-items: start;
    align-content: space-evenly;
    max-width: 800px;
    margin: 0 50px 50px 0;
}
.deleteBt {
    color: var(--button-color);
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid var(--grey-light-color);
    cursor: pointer;
}

.review,
.reviewStar {
    font-size: var(--font-medium);
}

#reviewIcon {
    margin-bottom: 10px;
    font-size: 25px;
}

.date {
    font-size: var(--font-micro);
    color: rgb(113, 114, 115);

}

.userId {
    font-size: 13px;
    font-weight: 540;
}


#numbers{
    font-size: var(--font-medium)
}

.fa-sharp{
    font-size: 12px;
    margin-bottom: 30px;
}

.fa-pen-to-square{
    border: none;
}
.reviewbt{
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.clickReviewBt{
    border: none;
    background-color: white;
    font-size: 22px;
    cursor: pointer;
}