
.reviewbt{
    text-decoration: none;
    border: 1px solid var(--grey-light-color);
    border-radius: 7px;
    padding:5px;
    font-size: var(--font-small);
    color:black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reviewFormLabel{
    font-size:var(--font-large);
} 
#reviewFormStar {
    font-size:var(--font-large);

    margin-bottom: 5px;
}

#wordCount {
    margin-bottom:10px;
    /* color:red; */
}
#reviewModal{
    display: flex;
    flex-direction: column;
    max-width:580px;
    height: 235px;
    margin: 20px;
    justify-content: center;
}


#starInput{
    width:580px;
    height:30px;
    margin-bottom: 10px;
}

#textInput{
    width:580px;
    height:100px;
    /* margin-bottom: 10px; */
    resize:none;
}

#reviewErrorTitle{
    font-size: 20px;
    font-weight: bold;
}

#errorDetail{
    color: red;
    margin-bottom: 20px;
}

#reviewSubmit, #reviewCancel {
    border-radius: 7px;
    background-color: rgb(131, 209, 248);
    width: 133px;
    height: 40px;
    font-size:15px;
    color: black;
    font-weight: 300;
    /* margin:0 0 10px 0px; */
}