/* .reviewbt{
    text-decoration: none;
    color: black;
    border:none;
    padding:5px;
    border-radius: 5px;
    background-color: white;
    color: var(--button-color);
}



#errormessage{
    font-size: var(--font-small);
    color:red;
} */

/* .review{
    text-decoration: none;
    color: black;
    border: 1px solid var(--grey-light-color);
    padding:2px;
    border-radius: 5px;
    background-color: white;
} */

.reviewbt{
    text-decoration: none;
    border: 1px solid var(--grey-light-color);
    border-radius: 7px;
    padding:5px;
    font-size: var(--font-small);
    color:black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reviewFormLabel, #reviewFormStar{
    font-size:var(--font-large);
}
/* #reviewFormStar{
    font-size:var(--font-large);
} */
#reviewModal{
    display: flex;
    flex-direction: column;
    width:600px;
    height: 310px;
    margin-top: 20px;
    margin-left: 20px;
}
#starInput{
    width:580px;
    height:30px;
    margin-bottom: 10px;
}

#textInput{
    width:580px;
    height:100px;
    margin-bottom: 10px;
}

#errorTitle{
    font-size: 20px;
    font-weight: bold;
}

#errorDetail{
    color: red;
    margin-bottom: 20px;
}