.signform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
    margin-bottom: 25px;
}

.signbt {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    height: 40px;

    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(131, 209, 248);
    width: 147px;
    font-size:15px;
    color:black;
}
.signupBt{
    border-radius: 5px;
    background-color: rgb(131, 209, 248);
    height: 40px;
    font-size: var(--font-large);
    width: 80px;
    color:black;
    font-weight: 300;
    margin-top:9px;
}

#signupCancel {
    margin: 15px 0 0 0;
    border-radius: 3px;
    background-color: rgb(131, 209, 248);
    height: 40px;
    width: 147px;
    font-size:15px;
    color: black;
    font-weight: 300;
}
#signupErrorTitle{
 font-size: 20px;
}
#signupError{
    display: flex;
     flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    max-width: 300px;
}

#signupErrorMessage{
    color: red;
}
#button {
    display: flex;
    flex-direction: row;
}

#signUpTitle {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#signupEmail,
#signupUsername,
#signupFirstName,
#signupLastName,
#signupPassword,
#signupConfirmname {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#signUpEmailInput {
    height: 150px;
    width: 300px;
}



#signUpUserInput,
#signUpFirstNameInput,
#signUpLastNameInput,
#singUpPasswordInput,
#signUpConfirmInput {
    width: 300px;
    height: 40px;
    border-radius: 3px;
    border: 2px solid black;
}

#singUpPasswordInput {
    width: 300px;
    height: 40px;
    border: 2px solid black;
    border-radius: 3px;
}