.img {
    width:150px;
    height:130px;
    border-radius: 10px;
}
.imglayout {
    display: flex;
    flex-direction: row;;
    flex-wrap: wrap
}

.imglist{
    /* text-decoration: none; */
    list-style-type: none
}

.spotname{
        text-decoration: none;
}