.list-container {
    font-size: 15px;
}

.img {
    width: auto-fill;
    height: 340px;
    border-radius: 10px;
}

.imglayout {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(auto, 280px)); */
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    /* grid-template-rows: ; */
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.imglist {
    list-style-type: none
}

.spotname {
    text-decoration: none;
}

/* .rating {
    text-align: right;

    display: flex;

} */
#thum {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
}

#detail {
    display: flex;
    justify-content: space-between;
}

.smalltitle {}

.spot-wrap {
    margin: 10px;
}

header,
footer,
main {
    margin: auto;
    padding: 0 40px;
}

.spotnew {
    text-decoration: none;
}

/* table {
    width: 280px
} */

.list-container {
    margin-top: 20px;

}

.addnewspot {
    margin: 10px 0;

}

.fa-circle-plus {
    padding: 10px;
}

.spotname {
    font-weight: bold;
}

@media (max-width:1800px) {
    .imglayout {
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(auto, 280px)); */
        /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
        grid-template-columns: repeat(4, minmax(80px, 1fr));
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }
    .img {
        width: auto-fill;
        height: 280px;
        border-radius: 10px;
    }
}