.list-container {
    font-size: 15px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.spotImages{
    width: 290px;
    height: 290px;
}
.imglayout{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    /* height:100vh; */
    gap:21px;
    justify-content: center;
}
/* .imglayout {
    display: grid;
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    grid-column-gap: 12px;
    grid-row-gap: 12px;
} */
/* grid-template-columns: repeat(auto-fill, minmax(auto, 280px)); */
/* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */

.imglist {
    list-style-type: none
}

.spotname {
    text-decoration: none;
}

/* .rating {
    text-align: right;

    display: flex;

} */
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    /* max-width: 400px; */
    /* min-width: 1200px; */
    /* justify-content: center; */
    /* align-content: center; */
}

#detail {
    display: flex;
    justify-content: space-between;
}

.spot-wrap {
    margin: 10px;
}

header,
footer,
main {
    margin: auto;
    padding: 0 40px;
}

.spotnew {
    text-decoration: none;
}

/* table {
    width: 280px
} */

.list-container {
    margin-top: 20px;

}


.fa-circle-plus {
    padding: 10px;
}

.spotname {
    font-weight: bold;
}
.fa-circle-plus{
    color: rgb(14, 165, 235);
}

/* @media (max-width:1800px) {
    .imglayout {
        display: grid;
        grid-template-columns: repeat(4, minmax(80px, 1fr));
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }
    .img {
        width: auto-fill;
        height: 280px;
        border-radius: 10px;
    }
} */
/* grid-template-columns: repeat(auto-fill, minmax(auto, 280px)); */
/* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */