.editDelete {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 20px;
  gap: 20px;
  border-bottom: 1px solid var(--grey-light-color);
}

.edit,
.write,
.addimage,
.deleteimage,
.deleteSpotBt {
  text-decoration: none;
  border: 1px solid var(--grey-light-color);
  border-radius: 7px;
  padding: 5px;
  font-size: var(--font-small);
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


li {
  list-style-type: none;
}

.spot-container{
  display: flex;
  justify-content: center;
}
#spotDetails{
  display: flex;
  flex-direction: column;
}

.spot-inside{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-left: 47px; */
  justify-items: center;
}

#spotImages{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  height: 100%; */
 width:950px;
 height:472px;
  /* display: block; */
  /* margin: auto; */
}

#previewImage{
  width:470px;
  height:463px;
  /* max-width:472px;
  max-height:472px; */
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  /* padding: 8px 0 0 0; */
}
.smallDetialContainer{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
/* #smallImages{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 width:1456px;
 height: 470px;
 border-radius: 10px;
} */

.imgdetail1{
  border-radius: 0 10px 0 0 ;
}

.imgdetail3{
  border-radius: 0 0 10px 0 ;
}

.imgdetail0, .imgdetail1{
margin: 10px;
}

/* #spotImageDetail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 472px;
  height: 472px;
  border-radius: 10px;
} */

#smallDetailImages{
  width:227px;
  height: 234px;
}
#smallDetailImages > img{
  /* width:100%;
  height:100%; */
  width:226px;
  height: 226px;
  padding: 0 0 0 8px;
  cursor: pointer;
}

/* #section {
display: flex;
flex-direction: column;
justify-content: end;
} */

#spotTop{
  /* margin-left:150px; */
  font-display: flex;
  justify-content: flex-start;
}
#spotTitle{
  display: flex;
  text-align: left;
  max-width: 1000px;
}

.spotTitle {
  margin-top: 20px;
  font-weight: bold;
  /* margin: 20px 50px; */
  font-size:25px;
  max-width: 800px;
}
#star{
  font-size:18px;
}
.rating {
  text-align: left;
  align-items: center;
  
}

.breifinfo {
  font-size: var(--font-large);
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0px;
  gap: 10px;
  align-items: center;
}

.address {
  gap: 5px;
  text-decoration: underline;
}

.fa-star {
  font-size: 8px;
}


.hostname {
  display: flex;
  border-bottom: 1px solid var(--grey-light-color);
  padding: 20px 0;
  align-items: center;
}

#hostTitle{
  font-size:22px;
}
#ownerName{
  font-weight: bold;
  font-size:22px;
}

.checkinInfo {
  padding: 20px 0;
  border-bottom: 1px solid var(--grey-light-color);
}

.checkLabel{
  margin-left:28px;
  color:gray;
  margin-bottom: 15px;
}

.descprition {
  padding-bottom: 20px ;
  font-size: var(--font-large);
  margin: 0 0px 30px 0px;
  border-bottom: 1px solid var(--grey-light-color);
  max-width:900px;
}
#info{
  margin: 30px 0;
  font-size:23px;
}

.column menu {
  margin: auto;
}
.maininfo{
  display: flex;
  justify-content: space-between;
  
}
.maininfo-left {
  max-width: 500px;
}

.column {
  float: left;
  padding: 5px;
}

.menu {
  width: 40%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 18px;
  margin-bottom: 8px;
}

.float {
  border: 1px solid var(--grey-light-color);
  border-radius: 10px;
  box-shadow: 0px 5px 15px 3px var(--grey-light-color);
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.float-top{
  margin:20px;
}

.float-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}

.guestNumLabel{
  margin-left: 20px;
}

.night {
  font-size: 13px;
  margin-bottom: 1px;
  
}

.calender {
  
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  padding: 0px;
  
}

.reserveBtContainer{
  display: flex;
  justify-content: center;
}

.checkin {
  display: flex;
  padding: 0px;
}

.deleteSpotBt{
  cursor: pointer;
}

.reserveBt{
  background-color:rgb(234,84,134);
  width: 290px;
  height:40px;
  border-radius:10px;
  justify-items: center
}

.price{
  font-size: 20px;
  font-weight: bold;
}

.dailyPrice{
  display: flex;
  /* align-content: center; */
  align-items:end
}

.stars{
  display: flex;
  align-items: center;
}

.fa-building-circle-check{
  font-weight:50px
}