.editDelete{
    display: flex;
    flex-direction: row;
}

.editDelete{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 20px 0 20px;
    font-size: 15px;
    
}
/* .edit{
    height: 20px;
    
    width: 30px;
    
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;

} */
.edit, .write, .addimage{
    text-decoration: none;
}

.delete {
   border: none;
    
}

li{
    list-style-type: none;
}

.imgdetail{
    width:400px;
    height: 350px
}

.spot-outside{
    display: flex;
    flex-direction: row;
}

img{
  border-radius: 10px;
}