.editDelete {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 20px;
  gap: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--grey-light-color);
}

.edit,
.write,
.addimage,
.deleteimage,
.delete {
  text-decoration: none;
  border: 1px solid var(--grey-light-color);
  border-radius: 7px;
  padding: 5px;
  font-size: var(--font-small);
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


li {
  list-style-type: none;
}

.spot-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#spotDetails{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.spot-inside{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-left: 47px; */
}

#spotImages{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-items: center; */
  /* justify-content: center; */
  /* max-width:944px;
  max-height: 496px; */
  /* width: 100%;
  height: 100%; */
 width:944px;
 height:496px;
  /* display: block; */
  /* margin: auto; */
}

#previewImageBox{
  
}

#previewImage{
  /* max-width:472px;
  max-height:472px; */
  max-width:472px;
  height:472px;
  border-radius: 10px;
}

#smallImages{
 display: flex;
 flex-wrap: wrap;
}

/* #spotImageDetail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 472px;
  height: 472px;
  border-radius: 10px;
} */

.imgdetail{
  width:228px;
  height: 236px;
  border-radius: 10px;
}

/* #section {
display: flex;
flex-direction: column;
justify-content: end;
} */

#spotTop{
  /* margin-left:150px; */
  font-display: flex;
  justify-content: flex-start;
}
#spotTitle{
  display: flex;
  text-align: left;
  max-width: 1000px;
}

.spotTitle {
  margin-top: 20px;
  font-weight: bold;
  /* margin: 20px 50px; */
  font-size:25px;
  max-width: 800px;
}
#star{
  font-size:18px;
}
.rating {
  text-align: left;
  align-items: center;
  
}

.breifinfo {
  font-size: var(--font-large);
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0px;
  gap: 10px;
  align-items: center;
}

.address {
  gap: 5px;
  text-decoration: underline;
}

.fa-star {
  font-size: 8px;
}


.hostname {
  border-bottom: 1px solid var(--grey-light-color);
  padding: 20px 0;
}

.checkinInfo {
  padding: 20px 0;
  border-bottom: 1px solid var(--grey-light-color);
}

.descprition {
  padding-bottom: 20px ;
  font-size: var(--font-large);
  margin: 0 0px 30px 0px;
  border-bottom: 1px solid var(--grey-light-color);
  max-width:900px;
}
#info{
  margin-bottom: 30px;
  font-size:23px;
}



.column menu {
  margin: auto;
}

.maininfo-left {
  max-width: 500px;
}

.column {
  float: left;
  padding: 5px;
}

.menu {
  width: 25%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 18px;
  margin-bottom: 8px;
}

.float {
  border: 1px solid var(--grey-light-color);
  border-radius: 10px;
  box-shadow: 15px 15px 50px var(--grey-light-color);
  display: flex;
  flex-direction: column;
}

.float-top {
  display: flex;
  flex-direction: row;
  gap: 1px;
}


.night {
  font-size: var(--font-micro);
}

.calender {
  border: 1px solid var(--grey-light-color);
  border-radius: 5px;
  margin: 5px;
  padding: 0px;
}

.checkin {
  display: flex;
  padding: 0px;
}

