
#createSpotForm{
    display:flex;
    flex-direction: column;
    margin-left:50px;
    font-size: 20px;
}
.createSpotForm{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#formTitle{
    margin-top:60px;
    margin-bottom: 40px;
}

#address, #city, #state, #country, #lat, #lng, #name, #price, #description{
    margin-bottom: 20px;
    width:270px;
    height: 35px;
}

#spotInput{
    display: flex;
    flex-direction: column;
}

#description{
    margin-bottom: 20px;
    resize: none;
    height:60px;
}

#creatSpotCancel, #createSpotBt{
    /* border: 1px solid var(--grey-light-color); */
    background-color: rgb(131, 209, 248);
    height:40px;
    width:130px;
    border-radius: 7px;
    font-size:15px;
    font-weight: 300;
    color: black;
    border: 1px solid black;
}
#createSpotBt{
    border-radius: 7px ;
}
#creatSpotCancel{
    font-weight: 300;
}
/* #spotErrorTItle, #errorMessages{
    margin-left:50px;
} */
#spotErrors{
    margin-left:50px;
    
}
#spotErrorTItle{
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    display: flex;

}
#errorMessages{
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-left:70px;
}

#imageUrl{
    margin-bottom: 20px;
    height:60px;
    
}
