.signform{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.email {
    display: flex;
    flex-direction: column;
}
#username {
    display: flex;
    flex-direction: column;
}
#password {
    display: flex;
    flex-direction: column;
}
.confirmname {
    display: flex;
    flex-direction: column;
}
.signbt{
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;

    text-align: center;
    align-items: center;
    border-radius: 3px;
    border:1px solid var(--grey-light-color);
}
#cancel{
    margin: 15px 0 0 0;
    border-radius: 3px;
    border:1px solid var(--grey-light-color);
}
input {
    border-radius: 3px;
    border:1px solid var(--grey-light-color);
    width:150px;
}
button {
    width:75px;
}
#button{
    display: flex;
    flex-direction: row;
}