.signform {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.signbt {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    height: 40px;

    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(127, 214, 246);
    width:142px;
}

#cancel {
    margin: 15px 0 0 0;
    border-radius: 3px;
    background-color: rgb(127, 214, 246);
    height: 40px;
    width:142px;
}


#button {
    display: flex;
    flex-direction: row;
}

#signUpTitle {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#signupInside {
    display: flex;
    flex-direction: column;
}

.firstname,
.email,
.username,
.lastname,
.password,
.confirmname {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#signUpInput {
    /* border: 1px solid var(--grey-light-color); */
    width: 30%;
    height: 40px;
    border-radius: 3px;
}

#password{
    width:290px;
    height:40px
}