#log {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-end;
}

.login,
.signup,
.home {
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
}

.password {
    display: flex;
    flex-direction: column;
    width: 170px;
}

.logoMain {
    margin-top: 7px;
    width: 95px;
    height: 46px;
    border-radius:7px;
    /* border: 2px solid rgb(10, 11, 12); */
}

.logolist {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(--grey-light-color);
    flex-direction: row;
}

.underline {
    margin: 0 50px;
}

.userlogo {
    height: 150px;
    width:60px;
    margin-top: 5px;
    /* right: 5px; */
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--grey-light-color); 
    align-items: center;
    color:rgb(14, 165, 235);
    font-size:25px;
}


.profile-dropdown {
   
    font-size: var(--font-large);
    display: flex;
    flex-direction: column;
    /* display: block; */
    position:absolute;
    margin-top: 55px;
    border: 1px solid var(--grey-light-color); 
    border-radius: 10px; 
    box-shadow: -1px 3px 3px rgb(244, 243, 243), 2px 3px 3px rgb(244, 243, 243);
    background-color: rgb(255, 255, 255); 
    height:120px;
    width: 220px;
    justify-content: center;
}
/* .profile-dropdown li {
    display: block;
} */

.logOut {
    font-size: var(--font-large);
    width:70px;
}

.logocolor {
    color: rgb(237, 129, 129);
    width: 30px;
}

.new-spot {
    list-style-type: none;
}

body {
    margin: auto;
}

.navlink {
    list-style-type: none;
    text-decoration: none;

}

#signUp {
    font-size: var(--font-small);
    list-style-type: none;
    text-decoration: none;
    width: 48px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
}

.loginfoBT {
    /* height: 50px; */
    /* display: flex;
    flex-direction: column; */
        /* position: relative; */
        /* display: inline-block; */
}

.logIn{
right: 50px;
height: 100px;
}
#topMenu{
    display: flex;
    flex-direction: row;
    justify-items:end;
    margin-top:10px;
}

#signupBt{
    /* border:2px solid rgb(151, 219, 244); */
    border-radius: 5px;
    /* background-color: rgb(249, 205, 205); */
    background-color: rgb(127, 214, 246);
    width: 80px;
    height:40px;
    text-align:center;
    font-size: var(--font-large);
}
#loginfo{
    padding:3px;
    margin-left:13px;
}

