#log {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-end;
}

.login,
.signup,
.home {
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
}

.password {
    display: flex;
    flex-direction: column;
    width: 170px;
}

.logoMain {
    margin-top: 4px;
    width: 97px;
    height: 51px;
    border-radius:7px;
    justify-items: center;
    display: flex;
}

.logolist {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(--grey-light-color);
    flex-direction: row;
    /* align-items: center; */
}

.underline {
    margin: 0 50px;
}

.userlogo {
    height: 148px;
    width:60px;
    margin-top: 3px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--grey-light-color); 
    align-items: center;
    color:rgb(14, 165, 235);
    font-size:25px;
    cursor: pointer;
}


.profile-dropdown {
   
    font-size: var(--font-large);
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-top: 52px;
    border: 1px solid var(--grey-light-color); 
    border-radius: 10px; 
    box-shadow: 1px 1px -2px   rgb(244, 243, 243), 1px 1px -2px rgb(244, 243, 243);
    background-color: rgb(255, 255, 255); 
    height:190px;
    width: 220px;
    justify-content: center;
    z-index: 1
}

.logOut {
    font-size: var(--font-large);
    width:70px;
   background-color: rgb(131, 209, 248);
   border-radius: 5px;
   color:black;
   font-weight: 300;
}

.logocolor {
    color: rgb(237, 129, 129);
    width: 30px;
}

.new-spot {
    list-style-type: none;
}

body {
    margin: auto;
}

.navlink {
    list-style-type: none;
    text-decoration: none;

}

#signUp {
    font-size: var(--font-small);
    list-style-type: none;
    text-decoration: none;
    width: 48px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    height:44px;
    margin-left:20px;
}


.logIn{
right: 50px;
height: 100px;
}
#topMenu{
    display: flex;
    flex-direction: row;
    justify-items:end;
    align-items: center;
    /* margin-top:10px; */
}

#signupBt{
    border-radius: 5px;
    background-color: rgb(127, 214, 246);
    width: 80px;
    height:40px;
    text-align:center;
    font-size: var(--font-large);
    color:black
}
#userNameInfo, #emailInfo, #myplaces, #logoutInfo{
    padding:3px;
    margin: 0 13px;
}

#emailInfo, #myplaces{
    border-bottom: 1px solid var(--grey-light-color);
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#navIcons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
}

.newSpot{
    /* margin-top: 15px; */
    text-decoration: none;
}
.addnewspot{
    margin-top:5px;
}


