#log {
    display: flex;
    flex-direction: column;
    padding:5px;
    width: 170px;
}
.login, .signup, .home{
    text-decoration: none;
}
.nav {
    display: flex;
    flex-direction: row;
}
.password {
    display: flex;
    flex-direction: column;
    width: 170px;
    padding:5px
}

.logo{
    width: 70px;
    height: 35px
}

.logolist {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.userlogo{
height: 30px;
margin-top: 10px;
border-color: white;
border-radius: 3px;

}
.profile-dropdown{
    position:relative;
top: 50px;
}

.logocolor{
    color: rgb(237, 129, 129);
    width:30px;
}

.new-spot{
    list-style-type: none;
}

body{
    margin:auto;
    max-width: 1000px;
}

 .navlink {
    list-style-type: none;
    text-decoration: none;
    
 }
 
.signup{
    font-size: var(--font-medium);
}

.header {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
}

.loginfoBt {
   height: 100px;
}
