#loginform {
    display: flex;
    flex-direction: column;
}
.username {
    display: flex;
    flex-direction: column;
    padding:5px;
    width: 170px
}

.password {
    display: flex;
    flex-direction: column;
    width: 170px;
    padding:5px
}
#logbt{
    margin-left: 5px;
    width: 80px;
    
}

.session{
    display: flex;
    justify-content: end;
}

form{
    width:200px;
    height: 150px;
    padding:15px
    
}

.error{
    font-size: 15px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.beforelogbt{
    height:25px;
    font-size: var(--font-medium);
    position:relative;
    right: 10px;
    top: 20px;
}