#loginform {
    display: flex;
    flex-direction: column;
}

/* .username {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 170px
} */

/* .password {
    display: flex;
    flex-direction: column;
    width: 170px;
    padding: 150px
} */

.logbt {
    /* margin-left: 5px;
    width: 80px;
     */
    border: 1px solid var(--grey-light-color);
    border-radius: 3px;
    /* background-color: white; */

}

/* .session{
    display: flex;
    justify-content: end;
    position: ablsolute;
} */

form {
    width: 200px;
    height: 150px;
    padding: 15px;
    /* border: 1px solid var(--grey-light-color); */

}

.error {
    font-size: 15px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.beforelogbt {
    height: 40px;
    font-size: var(--font-large);
    /* position:relative; */
    /* right: 10px; */
    width: 80px;
    text-align: center;
    justify-content: space-around;
    border: 1px solid var(--grey-light-color);
    border-radius: 5px;
    background-color: white;
    /* margin-top: 10px; */
}

#input {
    border: 1px solid var(--grey-light-color);
    border-radius: 3px;
}